.registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f6f9;
    padding: 1rem; /* Agregar espacio lateral para pantallas pequeñas */
}

.registerBox {
    background-color: white;
    border-radius: 8px;
    padding: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Limitar el ancho máximo */
    text-align: center;
    margin: 0 auto; /* Centrar en pantallas más grandes */
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Crear dos columnas iguales */
    gap: 1.2rem; /* Espaciado entre los campos */
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%; /* Asegurarse de que los campos ocupen el ancho completo */
}

.emailInput {
    grid-column: span 2; /* Hace que el campo teléfono ocupe ambas columnas */
}

.registerButton {
    grid-column: span 2; /* Hacer que el botón ocupe ambas columnas */
    background-color: #27ae60;
    color: white;
    padding: 0.75rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registerButton:hover {
    background-color: #2ecc71;
}

.loginLink {
    grid-column: span 2; /* Alinear el enlace debajo del botón */
    margin-top: 1.5rem;
    font-size: 1rem;
    color: #555;
}
 .loginLink a {
    color: #27ae60;
    text-decoration: none;
  }

  .loginLink a:hover {
    text-decoration: underline;
  }

.title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #333;
    margin-top: -1rem; /* Ajustamos el margen superior para moverlo más hacia arriba */
}

/* Estilos para los campos de contraseña */
.passwordContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.passwordContainer input {
    width: 100%;
    padding: 10px;
    padding-right: 35px; /* Espacio para el ícono a la derecha */
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%; /* Centra el ícono verticalmente */
    transform: translateY(-50%); /* Ajusta el ícono para que quede perfectamente centrado */
    cursor: pointer;
    color: #555;
}

.eyeIcon:hover {
    color: #27ae60; /* Cambiar color cuando pasa el mouse */
}
