/* Contenedor principal */
.container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 40px;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
}

/* Estilos para la columna izquierda (Líneas de Atención) */
.left {
  width: 45%;
  padding: 20px;
}

h2 {
  font-size: 1.6em;
  color: #333;
  margin-bottom: 15px;
  font-weight: 600;
}

hr.line {
  width: 20%;
  border: 0;
  border-top: 2px solid #4caf50;
  margin: 10px 0;
  margin-bottom: 30px;
}

.contactItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.contactItem i {
  font-size: 1.5em;
  color: #27AE60;
  margin-bottom: 15px;
  margin-top: 15px;
}

.contactLabel {
  font-size: 0.8em;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.contactText {
  font-size: 1.1em;
  color: #4caf50;
  margin-top: 5px;
}

/* Estilos para la columna derecha (Formulario) */
.right {
  width: 55%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 1.6em;
  color: #333;
  margin-bottom: 15px;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.inputGroup {
  flex: 1;
}

label {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 8px;
  color: #333;
}

input,
textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
  width: 100%;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #4caf50;
  outline: none;
  background-color: #fff;
}

textarea {
  resize: none;
  height: 100px; 
}

button.submitButton {
  padding: 12px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
  width: 100%;
}

button.submitButton:hover {
  background-color: #388e3c;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .left,
  .right {
    width: 80%;
    margin-bottom: 20px;
  }

  .row {
    flex-direction: column;
  }
}
