/* Estilos para la sección de servicios logísticos */
.services-section {
  padding: 3rem 1rem;
  text-align: center;
}

/* Título "Conoce nuestros servicios logísticos" */
.services-title {
  font-size: 2.3rem;
  font-weight:600;
  margin-top: 1rem; 
  margin-bottom: 4rem;
  color: #2C3E50;
}

/* Contenedor para los cuadros */
.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas por fila */
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos para cada cuadro */
.service-box {
  background-color: #ECF0F1;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.service-icon {
  font-size: 3rem;
  color: #27AE60;
  margin-bottom: 1rem;
}

.service-box h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2C3E50;
  margin-bottom: 1rem;
}

.service-box p {
  font-size: 1rem;
  color: #7F8C8D;
  margin-bottom: 1.5rem;
}

.service-box a {
  font-size: 1.1rem;
  color: #27AE60;
  text-decoration: none;
  font-weight: bold;
}

.service-box a:hover {
  text-decoration: underline;
}
